.footer {
    margin-top: 70px;
    background-color: white;
}

.footer p {
    margin-left: 220px;
    padding-top: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

.footer img {
    display: flex;
    flex-direction: row;
    height: 160px;
    margin-left: 240px;
    margin-bottom: 80px;
    padding: 20px;
}