.menu {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    background-color: white;
}

.menu ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 100px;
    justify-content: center;
}

.menu ul p a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

.menu ul p a:hover {
    text-decoration: underline;
}